.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.ant-tooltip-inner {
  width: fit-content;
  height: fit-content;
}

body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
  color-scheme: light;
}
.btndanger {
  color: #999;
  background: #eee;
}
.ant-image img {
  object-fit: cover;
}
.btndanger:hover {
  color: #ff4d4f;
  background: #ffccc7;
}
.ant-tooltip-inner {
  font-size: 14px;
}
.shadowed {
  box-shadow: 0 2px 8px #f0f1f2 !important;
}
.hide-close .ant-drawer-close,
.hide-title .ant-table-title,
.hide-footer .ant-table-footer,
.hide-error .ant-form-item-explain,
.hide-error .ant-form-item-explain-connected {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.hide-error .ant-form-item {
  margin-bottom: 0 !important;
}
.hide-scrollbar .ant-drawer-body::-webkit-scrollbar {
  display: none;
}

.ant-popover-buttons .ant-btn {
  display: inline-flex;
}
.ant-popover-inner {
  border-radius: 4px;
}

.ant-table-footer {
  background-color: transparent;
  padding-bottom: 0;
}
.ant-table-pagination.ant-pagination {
  margin: 0;
}
.ant-input-clear-icon {
  font-size: 16px;
}
.table-fixed-pagination .ant-table-pagination.ant-pagination {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px -1px 4px 0px rgba(153, 153, 153, 0.5);
  padding: 8px 24px;
  margin: 0 !important;
}
.ant-space-center-items .ant-space-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bordered.ant-empty-normal,
.bordered.ant-empty,
.empty-bordered .ant-empty,
.empty-bordered .ant-empty-normal {
  border: 1px dashed #d9d9d9;
  padding: 24px 0;
  margin: 0;
}
.empty-bordered .ant-list-empty-text {
  padding: 0;
}
.ant-form-vertical .ant-form-item-label > label {
  height: fit-content !important;
}

.ant-input-affix-wrapper.bg-transparent {
  background-color: transparent;
}
.ant-input-affix-wrapper.bg-transparent input {
  background-color: transparent;
}

.main-page {
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.hide-error .ant-form-item-explain-error {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.hide-error.ant-form-item {
  margin-bottom: 0 !important;
}

.ant-form-vertical iframe {
  border: none;
  width: 100%;
}
.modal-sticky-footer .ant-modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal-sticky-footer .ant-modal-footer {
  align-self: flex-end;
  position: sticky;
  bottom: 8px;
  width: 100%;
}
.modal-sticky-footer .ant-modal-footer::before {
  content: '';
  position: absolute;
  top: -8px;
  bottom: -8px;
  right: -24px;
  left: -24px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  z-index: 0;
}
.modal-sticky-footer.dark .ant-modal-footer::before {
  background-color: #1f1f1f;
}
.ant-segmented-item-label,
.ant-segmented-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767.98px) {
  .modal-sticky-footer .ant-modal-close {
    top: 12px;
  }
  .modal-sticky-footer .ant-modal-content {
    padding: 10px 12px !important;
  }
  .modal-sticky-footer .ant-modal-footer::before {
    right: -12px;
    left: -12px;
  }
}

.hide-close .ant-drawer-close {
  display: none;
}

.ant-select-selection-item {
  display: flex;
  align-items: center;
}
.ant-select-selection-item .ant-image,
.ant-select-selection-item .ant-image > img {
  width: 22px !important;
  height: 22px !important;
}
.ant-select-lg .ant-select-selection-item .ant-image,
.ant-select-lg .ant-select-selection-item .ant-image > img {
  width: 30px !important;
  height: 30px !important;
}
.ant-select-sm .ant-select-selection-item .ant-image,
.ant-select-sm .ant-select-selection-item .ant-image > img {
  width: 16px !important;
  height: 16px !important;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.w-full {
  width: 100%;
}
.select-b-dashed .ant-select-selector {
  border-style: dashed !important;
}

.ant-cascader-dropdown {
  border-radius: 4px;
}

.popup .leaflet-popup-content {
  margin: 0;
  width: 100% !important;
}

.maplibregl-popup-content {
  padding: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f3f4;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #70757a;
}

.mapboxgl-ctrl-scale,
.maplibregl-ctrl-scale {
  border: none;
}
